version: "2"
services:
  db:
    restart: always
  api:
    environment:
      NODE_ENV: production
    restart: unless-stopped
  app:
    build: ./app
    environment:
      NODE_ENV: development
    volumes:
      - app-dist:/usr/src/app/build
  webserver:
    ports:
      - "80:80"
    volumes:
      - app-dist:/var/www/html
    restart: unless-stopped
volumes:
  app-dist:
