header,
nav,
main {
  padding: 0 2em;
}

header > *,
nav > *,
main > * {
  padding: 0 1em;
}

nav {
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 100%, 100%);
  margin: 0;
}

  nav ul {
    list-style: none;
  }

    nav li {
      display: inline-block;
      margin: 0 1em 0 0;
    }

    nav li:last-child {
      margin: 0;
    }

  nav a,
  nav a:link,
  nav a:visited,
  nav a:hover,
  nav a:active {
    display: block;
    padding: 0.5em;
    color: hsl(0, 100%, 100%);
    text-decoration: none;
  }

    nav a:hover {
      background-color: hsl(0, 0%, 40%);
    }

header {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 100%, 100%);
}

  header h1 a,
  header h1 a:link,
  header h1 a:visited,
  header h1 a:hover,
  header h1 a:active {
    color: hsl(0, 100%, 100%);
    text-decoration: none;
  }
