/* Heading sizing based on dividing by 0.75 up from 1, starting at h3 */
/* Default padding between elements: 1em, between containers: 2em */

h1 {
  font-size: 2.37em;
}

h2 {
  font-size: 1.77em;
}

h3 {
  font-size: 1.33em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: hsl(210, 100%, 50%);
  text-decoration: underline;
}

  a:hover {
    text-decoration: none;
  }

img {
  max-width: 100%;
}

label {
  display: block
}

label + * {
  margin-top: 0.5rem;
}

input[type=text],
input[type=number],
input[type=tel],
input[type=email],
input[type=password],
textarea {
  padding: 0.5em;
  width: 100%;
  max-width: 25em;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 0.5em;
  color: hsl(0, 0%, 25%);
  font-size: 1em;
}

button[type=button],
button[type=submit],
input[type=submit],
input[type=reset],
a.button {
  padding: 0.5em;
  border: 1px solid hsl(180, 100%, 30%);
  border-radius: 0.5em;
  background-color: hsl(180, 100%, 30%);
  color: hsl(0, 100%, 100%);
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

  button[type=button]:hover,
  button[type=submit]:hover,
  input[type=submit]:hover,
  input[type=reset]:hover,
  a.button:hover {
    border: 1px solid hsl(180, 100%, 20%);
    background-color: hsl(180, 100%, 20%);
  }

  button[type=button][disabled],
  button[type=submit][disabled],
  input[type=submit][disabled],
  input[type=reset][disabled],
  a.button.disabled {
    cursor: not-allowed;
    background-color: hsla(180, 40%, 40%, 0.75);
  }

  * + button[type=button],
  * + button[type=submit],
  * + input[type=submit],
  * + input[type=reset],
  * + a.button {
    margin-left: 1em;
  }

  button[type=button].button--danger,
  button[type=submit].button--danger,
  input[type=submit].button--danger,
  input[type=reset].button--danger,
  a.button.button--danger {
    border: 1px solid hsl(330, 60%, 45%);
    background-color: hsl(330, 60%, 45%);
  }

    button[type=button].button--danger:hover,
    button[type=submit].button--danger:hover,
    input[type=submit].button--danger:hover,
    input[type=reset].button--danger:hover,
    a.button.button--danger:hover {
      border: 1px solid hsl(330, 60%, 30%);
      background-color: hsl(330, 60%, 30%);
    }
